.title-container {
  text-align: center;
}

.upload-container {
  width: 80%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}

.image-container {
  width: 95%;
  max-height: 400px;
  position: relative;
}

.uploaded-image {
  width: 100%;
  max-height: 400px;
  object-fit: contain;
}

.delete-icon-container {
  width: 20px;
  height: 20px;
  padding: 10px;
  background-color: white;
  border-radius: 50%;
  border: 1px solid white;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

.delete-icon {
  width: 20px;
  height: 20px;
}

.uploader {
  width: 95%;
  height: 400px;
  background-color: #efefef;
  border-radius: 10px;
  text-align: center;
}
.upload-btn-container {
  cursor: pointer;
  margin-top: 50%;
}

.upload-btn {
  width: 30px;
  height: 30px;
}

.description {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 20px;
}

.text-input {
  width: 80%;
  padding: 10px 20px;
  border: none;
  border-bottom: 1px solid #efefef;
  outline: none;
}

@media screen and (min-width: 700px) {
  .upload-container {
    width: 70%;
    flex-direction: row;
    padding: 20px;
  }

  .image-container {
    width: 45%;
  }
  .uploader {
    width: 45%;
  }

  .description {
    width: 50%;
  }
}

@media screen and (min-width: 900px) {
  .upload-container {
    width: 50%;
  }
}
